.header{
    height: 15%;
    width: 100%;
    background-color: tan;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-evenly;
}

h1{
    color: greenyellow;
}