.myBrand{
    position: fixed;
    opacity:0;
    animation: brand 2.5s ease forwards;
    animation-delay: 7s;
    top: 45%;
    font-size: 8vw;
    color: rgba(4,22,88);
}

@keyframes brand {

    50%{
        opacity: 1;
        top: 70%;
    }
    80%{
        opacity: 1;
        top: 70%;
        color: rgb(245, 244, 251)
    }
    100%{
        opacity: 0;
        top: 100%;
    }

}