.myBrand{
    opacity:0;
    animation: brand 3s ease forwards;
    animation-delay: 7.5s;
}

@keyframes brand {

    30%{
        opacity: 0;
    }
    50%{
        opacity: 0.5;
    }
    80%{
        opacity: 1;
    }

    100%{
        opacity: 0;
    }

}