.app-container{
    height: 100%;
    width: 100%;
    position: fixed;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    overflow: hidden;
    border:1px solid black;
}